<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.project.module.clientInfo.mapper.ClientInfoMapper">
    
    <resultMap type="com.manage.project.module.clientInfo.domain.ClientInfo" id="ClientInfoResult">
        <result property="id"    column="id"    />
        <result property="clientName"    column="client_name"    />
        <result property="clientAddress"    column="client_address"    />
        <result property="taxNumber"    column="tax_number"    />
        <result property="contactCode"    column="contact_code"    />
        <result property="province"    column="province"    />
        <result property="updateDate"    column="update_date"    />
        <result property="createDate"    column="create_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="clientPhone"    column="client_phone"    />
        <result property="clientType"    column="client_type"    />
        <result property="clientTypeName" column="clientTypeName"/>
    </resultMap>
	
	<sql id="selectClientInfoVo">
    select id, client_name, client_address, tax_number, contact, province, update_date, create_date, del_flag, client_phone, client_type,sdd.dict_label AS clientTypeName from w_client_info wci
    LEFT JOIN sys_dict_data sdd ON sdd.dict_value = client_type
    </sql>
	
    <select id="selectClientInfoList" parameterType="ClientInfo" resultMap="ClientInfoResult">
        <include refid="selectClientInfoVo"/>
        where 1=1
        and sdd.dict_type ='w_client_type'
        <if test="id != null and id != ''"> and id = #{id}</if>
        <if test="clientName != null and clientName != ''"> and client_name = #{clientName}</if>
        <if test="clientAddress != null and clientAddress != ''"> and client_address = #{clientAddress}</if>
        <if test="taxNumber != null and taxNumber != ''"> and tax_number = #{taxNumber}</if>
        <if test="contactCode != null and contactCode != ''"> and contact = #{contactCode}</if>
        <if test="province != null and province != ''"> and province = #{province}</if>
        <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate}</if>
        <if test="createDate != null and createDate != ''"> and create_date = #{createDate}</if>
        and del_flag != 1
        <if test="clientPhone != null and clientPhone != ''"> and client_phone = #{clientPhone}</if>
        <if test="clientType != null and clientType != ''"> and client_type = #{clientType}</if>
    </select>

    <select id="selectClientInfoById" parameterType="String" resultMap="ClientInfoResult">
        <include refid="selectClientInfoVo"/>
        where id = #{id} and del_flag != 1 and sdd.dict_type ='w_client_type';
    </select>
        
    <insert id="insertClientInfo" parameterType="ClientInfo">
        insert into w_client_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="clientName != null and clientName != '' ">client_name,</if>
			<if test="clientAddress != null and clientAddress != '' ">client_address,</if>
			<if test="taxNumber != null and taxNumber != '' ">tax_number,</if>
			<if test="contact != null and contact != '' ">contact,</if>
			<if test="province != null and province != '' ">province,</if>
			<if test="updateDate != null and updateDate != '' ">update_date,</if>
			create_date,
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
			<if test="clientPhone != null and clientPhone != '' ">client_phone,</if>
			<if test="clientType != null and clientType != '' ">client_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="clientName != null and clientName != ''">#{clientName},</if>
			<if test="clientAddress != null and clientAddress != ''">#{clientAddress},</if>
			<if test="taxNumber != null and taxNumber != ''">#{taxNumber},</if>
			<if test="contact != null and contact != ''">#{contact},</if>
			<if test="province != null and province != ''">#{province},</if>
			<if test="updateDate != null and updateDate != ''">#{updateDate},</if>
			now(),
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
			<if test="clientPhone != null and clientPhone != ''">#{clientPhone},</if>
			<if test="clientType != null and clientType != ''">#{clientType},</if>
         </trim>
    </insert>
	 
    <update id="updateClientInfo" parameterType="ClientInfo">
        update w_client_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientName != null  and clientName != ''  ">client_name = #{clientName},</if>
            <if test="clientAddress != null  and clientAddress != ''  ">client_address = #{clientAddress},</if>
            <if test="taxNumber != null  and taxNumber != ''  ">tax_number = #{taxNumber},</if>
            <if test="contact != null  and contact != ''  ">contact = #{contact},</if>
            <if test="province != null  and province != ''  ">province = #{province},</if>
            update_date = now(),
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="clientPhone != null  and clientPhone != ''  ">client_phone = #{clientPhone},</if>
            <if test="clientType != null  ">client_type = #{clientType},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteClientInfoById" parameterType="String">
        UPDATE w_client_info SET del_flag = 1 WHERE id = #{id}
    </delete>
	
    <delete id="deleteClientInfoByIds" parameterType="String">
        UPDATE w_client_info SET del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>