<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.project.module.contact.mapper.ContactMapper">
    
    <resultMap type="com.manage.project.module.contact.domain.Contact" id="ContactResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="address"    column="address"    />
        <result property="type"    column="type"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>
	
	<sql id="selectContactVo">
        select id, code, name, phone, address, type, remark, del_flag from w_contact
    </sql>
	
    <select id="selectContactList" parameterType="Contact" resultMap="ContactResult">
        <include refid="selectContactVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="code != null and code != ''"> and code = #{code}</if>
             <if test="name != null and name != ''"> and name = #{name}</if>
             <if test="phone != null and phone != ''"> and phone = #{phone}</if>
             <if test="address != null and address != ''"> and address = #{address}</if>
             <if test="type != null and type != ''"> and type = #{type}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
             <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
         </where>
    </select>
    
    <select id="selectContactById" parameterType="Integer" resultMap="ContactResult">
        <include refid="selectContactVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertContact" parameterType="Contact">
        insert into w_contact
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="code != null and code != '' ">code,</if>
			<if test="name != null and name != '' ">name,</if>
			<if test="phone != null and phone != '' ">phone,</if>
			<if test="address != null and address != '' ">address,</if>
			<if test="type != null and type != '' ">type,</if>
			<if test="remark != null and remark != '' ">remark,</if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="code != null and code != ''">#{code},</if>
			<if test="name != null and name != ''">#{name},</if>
			<if test="phone != null and phone != ''">#{phone},</if>
			<if test="address != null and address != ''">#{address},</if>
			<if test="type != null and type != ''">#{type},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>
	 
    <update id="updateContact" parameterType="Contact">
        update w_contact
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''  ">code = #{code},</if>
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="type != null  ">type = #{type},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteContactById" parameterType="Integer">
        delete from w_contact where id = #{id}
    </delete>
	
    <delete id="deleteContactByIds" parameterType="String">
        delete from w_contact where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>