<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.project.module.orderDetail.mapper.OrderDetailMapper">
    
    <resultMap type="com.manage.project.module.orderDetail.domain.OrderDetail" id="OrderDetailResult">
        <result property="id"    column="id"    />
        <result property="orderCode"    column="order_code"    />
        <result property="commodityCode"    column="commodity_code"    />
        <result property="number"    column="number"    />
        <result property="deliveryFlag"    column="delivery_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectOrderDetailVo">
        select id, order_code, commodity_code, number, delivery_flag, remark from w_order_detail
    </sql>
	
    <select id="selectOrderDetailList" parameterType="OrderDetail" resultMap="OrderDetailResult">
        <include refid="selectOrderDetailVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="orderCode != null and orderCode != ''"> and order_code = #{orderCode}</if>
             <if test="commodityCode != null and commodityCode != ''"> and commodity_code = #{commodityCode}</if>
             <if test="number != null and number != ''"> and number = #{number}</if>
             <if test="deliveryFlag != null and deliveryFlag != ''"> and delivery_flag = #{deliveryFlag}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectOrderDetailById" parameterType="Integer" resultMap="OrderDetailResult">
        <include refid="selectOrderDetailVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrderDetail" parameterType="OrderDetail">
        insert into w_order_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="orderCode != null and orderCode != '' ">order_code,</if>
			<if test="commodityCode != null and commodityCode != '' ">commodity_code,</if>
			<if test="number != null and number != '' ">number,</if>
			<if test="deliveryFlag != null and deliveryFlag != '' ">delivery_flag,</if>
			<if test="remark != null and remark != '' ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="orderCode != null and orderCode != ''">#{orderCode},</if>
			<if test="commodityCode != null and commodityCode != ''">#{commodityCode},</if>
			<if test="number != null and number != ''">#{number},</if>
			<if test="deliveryFlag != null and deliveryFlag != ''">#{deliveryFlag},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateOrderDetail" parameterType="OrderDetail">
        update w_order_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null  and orderCode != ''  ">order_code = #{orderCode},</if>
            <if test="commodityCode != null  and commodityCode != ''  ">commodity_code = #{commodityCode},</if>
            <if test="number != null  ">number = #{number},</if>
            <if test="deliveryFlag != null  ">delivery_flag = #{deliveryFlag},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteOrderDetailById" parameterType="Integer">
        delete from w_order_detail where id = #{id}
    </delete>
	
    <delete id="deleteOrderDetailByIds" parameterType="String">
        delete from w_order_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>