<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.project.module.warehouse.mapper.WarehouseMapper">
    
    <resultMap type="com.manage.project.module.warehouse.domain.Warehouse" id="WarehouseResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="contactCode"    column="contact_code"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>
	
	<sql id="selectWarehouseVo">
        select id, name, address, contact_code, remark, del_flag from w_warehouse
    </sql>
	
    <select id="selectWarehouseList" parameterType="Warehouse" resultMap="WarehouseResult">
        <include refid="selectWarehouseVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="name != null and name != ''"> and name = #{name}</if>
             <if test="address != null and address != ''"> and address = #{address}</if>
             <if test="contactCode != null and contactCode != ''"> and contact_code = #{contactCode}</if>
             <if test="remark != null and remark != ''"> and remark = #{remark}</if>
             <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
         </where>
    </select>
    
    <select id="selectWarehouseById" parameterType="Integer" resultMap="WarehouseResult">
        <include refid="selectWarehouseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWarehouse" parameterType="Warehouse">
        insert into w_warehouse
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="name != null and name != '' ">name,</if>
			<if test="address != null and address != '' ">address,</if>
			<if test="contactCode != null and contactCode != '' ">contact_code,</if>
			<if test="remark != null and remark != '' ">remark,</if>
			<if test="delFlag != null and delFlag != '' ">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="name != null and name != ''">#{name},</if>
			<if test="address != null and address != ''">#{address},</if>
			<if test="contactCode != null and contactCode != ''">#{contactCode},</if>
			<if test="remark != null and remark != ''">#{remark},</if>
			<if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>
	 
    <update id="updateWarehouse" parameterType="Warehouse">
        update w_warehouse
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="contactCode != null  and contactCode != ''  ">contact_code = #{contactCode},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteWarehouseById" parameterType="Integer">
        delete from w_warehouse where id = #{id}
    </delete>
	
    <delete id="deleteWarehouseByIds" parameterType="String">
        delete from w_warehouse where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>